body{
    background-color: aliceblue;
}

.ipt-search {
    width: 100%;
    display: inline;
    height: 60px;
    background-color: #2acece2d;
    color: black;
}

.btn-search {
    position: fixed;
    top: 0;
    right: 0;
    height: 1%;
    height: 60px;
    width: 10%;
    padding-left: 3%;
}

.btn-search-text {
    margin-top: 10%;
    margin-right: 23%;
}

.recharts-wrapper{
    margin: auto auto auto 9%;
    display: flex;
    float: left;
}

.recharts-surface {
    border: 1px dashed black;
    margin-left: 5%;
    
}

.info-company {
    background-color: #fff;
    float: left;
    padding: 2% 1%;
    font-size: 20px;
}

.lista-informacao {
    list-style: none;
}

.latest-price {
    color: #ff0000;
}

.high {
    color: #1a1aff;
}

.icone-grafico {
    display: inline;
    margin: auto 8px;
    background-color: aliceblue;
    font-size: 35px;
    transform: rotateX(80deg);
}

.container-exemplo {
    background-color: #f8fff0;
    padding: 15px 80px 15px 0;
    margin-left: 15%;
    display: inline-block;
    transform: translateY(-12px);
    border-radius: 35px;
}

.div-exemplo {
    display: flex;
    justify-content: center;
}

.info-exemplo {
    display: block;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    font-size: 25px;
}

.icone-exemplo {
    margin: auto 80px;
    font-size: 45px;
    display: inline;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: #ddd 10px 5px 1px;
}

.face {
    color: blue;
    background-color: #fff;
}

.ford {
    color: #fff;
    background-color: blue;
    font-size: 50px;
}

.twitter {
    color: rgba(0, 153, 255, 0.849);;
    background-color: #fff;
}

.mcdonald {
    color: yellow;
    background-color: #f00;
}

.visa {
    color: #fff;
    background-color: blue;
}

.apple {
    color: rgb(75, 70, 70);
    background-color: #fff;
}

.icon-ex {
    padding-bottom: 5px;
}