body{
    background-color: aliceblue;
}

.form-search {
    margin-top: 1%;
}

.ipt-search {
    width: 70%;
    display: inline;
    margin-right: 15px;
}

.pesquise-lb {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto 15px;
    font-size: 20px;
}

.btn-search {
    margin-bottom: 5px;
}

.recharts-wrapper{
    margin: auto auto auto 9%;
    display: flex;
    float: left;
}

.recharts-surface {
    background-color: rgba(204, 204, 204, 0.37);
    border: 1px dashed black;
    margin-left: 5%;
}

.info-company {
    background-color: #fff;
    float: left;
    padding: 2% 1%;
    font-size: 20px;
}

.lista-informacao {
    list-style: none;
}

.latest-price {
    color: #ff0000;
}

.high {
    color: #1a1aff;
}

.icone-grafico {
    display: inline;
    margin: auto 8px;
    background-color: aliceblue;
    font-size: 35px;
    transform: rotateX(80deg);
}

.container-exemplo {
    background-color: rgba(7, 118, 165, 0.384);
    padding: 15px 80px 15px 0;
    margin-left: 15%;
    display: inline-block;
    transform: translateY(-12px);
    border-radius: 35px;
}

.div-exemplo {
    display: flex;
    justify-content: center;
}

.info-exemplo {
    display: block;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 25px;
}

.icone-exemplo {
    margin: auto 80px;
    font-size: 45px;
    display: inline;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: #ddd 10px 5px 1px;
}

.face {
    color: blue;
    background-color: #fff;
}

.ford {
    color: #fff;
    background-color: blue;
}

.ford {
    font-size: 50px;
}

.twitter {
    color: rgba(0, 153, 255, 0.849);;
    background-color: #fff;
}

.mcdonald {
    color: yellow;
    background-color: #f00;
}

.visa {
    color: #fff;
    background-color: blue;
}

.apple {
    color: rgb(75, 70, 70);
    background-color: #fff;
}

.icon-ex {
    padding-bottom: 5px;
}