body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    overflow-x: hidden;
}

.ipt-search {
    width: 100%;
    display: inline;
    height: 60px;
    background-color: #2acece2d;
    color: black;
}

.form-search {
    margin-bottom: 3px;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 9.5%;
    width: 10%;
    padding-left: 3%;
}

.btn-search-text {
    margin-top: 10%;
    margin-right: 23%;
}

.recharts-wrapper{
    margin: auto auto auto 7%;
    display: flex;
    float: left;
}

.recharts-surface {
    border: 1px dashed black;
    margin-left: 5%;
    margin-top: 1%;
    background-color: #eee;
}

.info-company {
    background-color: #fff;
    float: left;
    padding: 2% 1%;
    font-size: 20px;
    border-radius: 20px;
    margin: 2%;
}

.lista-informacao {
    list-style: none;
}

.latest-price {
    color: #ff0000;
}

.high {
    color: #1a1aff;
}

.icone-grafico {
    display: inline;
    margin: auto 8px;
    background-color: aliceblue;
    font-size: 35px;
}

.container-exemplo-full {
    display: flex;
    justify-content: center;
}

.container-exemplo {
    background-color: #f8fff0;
    padding: 8px 80px 8px 0;
    display: inline-block;
    border-radius: 35px;
    justify-content: center;
    align-items: left;
    margin: 5px;
}

.div-exemplo {
    display: flex;
    justify-content: center;
}

.info-h5 {
    display: block;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    font-size: 25px;
    padding-left: 9%;
}

.icone-exemplo {
    margin: auto 80px;
    font-size: 45px;
    display: inline;
    margin-right: 10px;
    border-radius: 45%;
    box-shadow: #ddd 10px 5px 1px;
}

.face {
    color: blue;
    background-color: #fff;
}

.ford {
    color: #fff;
    background-color: blue;
    font-size: 50px;
}

.twitter {
    color: rgba(0, 153, 255, 0.849);;
    background-color: #fff;
    font-size: 55px;
}

.mcdonald {
    color: yellow;
    background-color: #f00;
    font-size: 55px;
}

.visa {
    color: #fff;
    background-color: blue;
    font-size: 50px;
}

.apple {
    color: rgb(75, 70, 70);
    background-color: #fff;
}

.icon-ex {
    padding-bottom: 5px;
}

/*media query*/
/*large*/
@media (min-width: 992px) and (max-width: 1199.98px){ 
    .info-company {
        margin: 2% 5% 4% 33%;
    }

    .btn-search {
        width: 11%;
    }

    .container-exemplo{
        margin-top: 2%;
    }

    .recharts-surface{
        margin-left: 0;
        width: 960px;
    }

    .recharts-wrapper {
        margin: 2% auto 1% 18%;
    }

}

/* medium */
@media (min-width: 768px) and (max-width: 991.98px){
    .info-company {
        margin: 2% 5% 4% 26%;
    }

    .btn-search{
        width: 15%;
    }

    .container-exemplo {
        width: 80%;
        padding: 1%;
        margin: 10px 0 0 0;
    }

    .icone-exemplo {
        font-size: 40px;
        margin: 4%;
    }

    .recharts-surface{
        margin-left: 0;
        width: 660px;
    }

    .recharts-wrapper {
        margin: 2% auto 1% 5%;
    }
}

/* small */
@media (min-width: 576px) and (max-width: 767.98px){
    .info-company {
        margin: 2% 5% 4% 14%;
    }

    .btn-search{
        width: 15%;
    }

    .btn-search-text {
        font-size: small;
    }

    .container-exemplo {
        width: 80%;
        padding: 4%;
        margin: 10px 0 0 0;
    }

    .icone-exemplo {
        font-size: 35px;
        margin: 3%;
    }

    .recharts-wrapper {
        margin: 2% auto 1% auto;
    }

    .recharts-surface {
        margin-left: 0;
        width: 560px;
    }
}

/* extra small */
@media (max-width: 575.98px){
    .info-company {
        margin: 2% 5% 4% 14%;
        visibility:visible;
    }

    .btn-search{
        width: 17%;
    }

    .btn-search-text {
        font-size: small;
    }

    .container-exemplo {
        width: 80%;
        padding: 4%;
        margin: 10px 0 0 0;
    }

    .icone-exemplo {
        font-size: 35px;
        margin: 3%;
    }

    .recharts-wrapper {
        margin: 2% auto 1% auto;
    }

    .recharts-surface {
        margin-left: 0;
        width: 485px;
        border: none;
    }
}