.btn-search:hover {
    transition: ease-in-out 0.5s;
    font-family: fantasy;
    background-color: #114a8bde;
    animation: none;
}

.container-exemplo:hover {
    background-color: rgba(7, 118, 165, 0.384);
    color: #fff;
}

.icone-exemplo:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.face:hover  {
    background-color: blue;
    color: #fff;
    transform: translateY(-10px);
}

.ford:hover  {
    background-color: #fff;
    color: blue;
    transform: translateY(-10px);
}

.twitter:hover {
    background-color:rgba(0, 153, 255, 0.822);
    color: #fff;
    transform: translateY(-10px);
}

.mcdonald:hover  {
    background-color: yellow;
    color: #f00;
    transform: translateY(-10px);
}

.visa:hover  {
    background-color: #fff;
    color: blue;
    transform: translateY(-10px);
}

.apple:hover  {
    background-color: rgb(75, 70, 70);
    color: #fff;
    transform: translateY(-10px);
}

.animar {
    animation: turnAroundtwo infinite 2s ease-out;
}

@keyframes turnAroundtwo {
    from{
        transform: rotateY(0deg);
    }
    10%{
        transform: rotateY(-30deg);
    }
    20%{
       transform: rotateY(-60deg);
    }
    30%{
        transform: rotateY(-120deg);
    }
    40%{
        transform: rotateY(-180deg);
    }
    50%{
        transform: rotateY(-200deg);
    }
    60%{
        transform: rotateY(-240deg);
    }
    70%{
        transform: rotateY(-270deg);
    }
    80%{
        transform: rotateY(-300deg);
    }
    90%{
        transform: rotateY(-330deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}