.btn-search {
    animation: changColor ease-in-out 2s infinite;
}

.btn-search:hover {
    transition: ease-in-out 0.5s;
    font-family: fantasy;
    background-color: #114a8bde;
    animation: none;
}

@keyframes changColor {
    from{
        color: #fff;
    }
    20%{
        color: rgb(10, 243, 80);
    }
    40%{
        color: rgb(239, 243, 2);
    }
    60%{
        color: rgb(243, 10, 10);
    }
    80%{
        color: rgb(0, 229, 245);
    }
    to{
        color: rgb(177, 10, 243); 
    }
}

.icone-exemplo:hover {
    cursor: pointer;
}

.face:hover  {
    background-color: blue;
    color: #fff;
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
}

.ford:hover  {
    background-color: #fff;
    color: blue;
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
}

.twitter:hover {
    background-color:rgba(0, 153, 255, 0.822);
    color: #fff;
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
}

.mcdonald:hover  {
    background-color: yellow;
    color: #f00;
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
}

.visa:hover  {
    background-color: #fff;
    color: blue;
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
}

.apple:hover  {
    background-color: rgb(75, 70, 70);
    color: #fff;
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
}

.animar {
    animation: turnAroundtwo infinite 2s ease-out;
}

@keyframes turnAroundtwo {
    from{
        transform: rotateY(0deg);
    }
    10%{
        transform: rotateY(-30deg);
    }
    20%{
       transform: rotateY(-60deg);
    }
    30%{
        transform: rotateY(-120deg);
    }
    40%{
        transform: rotateY(-180deg);
    }
    50%{
        transform: rotateY(-200deg);
    }
    60%{
        transform: rotateY(-240deg);
    }
    70%{
        transform: rotateY(-270deg);
    }
    80%{
        transform: rotateY(-300deg);
    }
    90%{
        transform: rotateY(-330deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}