body{
    background-color: aliceblue;
}

.form-search {
    margin-top: 2%;
}

.ipt-search {
    width: 70%;
    display: inline;
    margin-right: 15px;
}

.pesquise-lb {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto 15px;
    font-size: 20px;
}

.btn-search {
    margin-bottom: 5px;
}

.recharts-wrapper{
    margin: 30px auto auto 9%;
    display: flex;
    float: left;
}

.recharts-surface {
    background-color: rgba(204, 204, 204, 0.37);
    border: 1px dashed black;
    margin-left: 5%;
}

.info-company {
    background-color: #fff;
    margin-top: 50px;
    float: left;
    padding: 2% 1%;
    font-size: 20px;
}

.lista-informacao {
    list-style: none;
}

.latest-price {
    color: #ff0000;
}

.high {
    color: #1a1aff;
}

.icone-grafico {
    display: inline;
    margin: auto 8px;
    background-color: aliceblue;
    font-size: 40px;
    transform: rotateX(60deg);
}

.div-exemplo {
    display: flex;
    justify-content: center;
}

.info-exemplo {
    display: block;
    text-align: center;
}

.icone-exemplo {
    margin: auto 40px;
    font-size: 45px;
    display: inline;
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: #ddd 10px 5px 1px;
    transform: rotateX(100deg);
}

.face {
    color: blue;
    background-color: #fff;
}

.ford {
    color: #fff;
    background-color: blue;
}

.mcdonald {
    color: yellow;
    background-color: #f00;
}

.visa {
    color: #fff;
    background-color: blue;
}

.apple {
    color: #000;
    background-color: #fff;
}