.btn-search {
    animation: changColor ease-in-out 2s infinite;
}

.btn-search:hover {
    transition: ease-in-out 0.5s;
    font-family: fantasy;
    background-color: #114a8bde;
    animation: none;
}

@keyframes changColor {
    from{
        color: #fff;
         transform: rotateX(60deg);
    }
    20%{
        color: rgb(10, 243, 80);
       transform: rotateX(180deg);
    }
    40%{
        color: rgb(239, 243, 2);
        transform: rotateX(240deg);
    }
    60%{
        color: rgb(10, 243, 80);
        transform: rotateX(360deg);
    }
    80%{
        color: #fff;
    }
    to{
        color: rgb(208, 243, 10); 
    }
}